.container{
  left: 20%;
  position: absolute;
}

.mainBoard{
    border: 5px solid purple;
    background-color:  black;
    height: 800px;
    width: 600px;
    position: absolute;
}

.board{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(10, 50px);
    column-gap: 30px;
    border: 5px solid purple;
    background-color: white;
    width: 300px;
    height: 795px;
    position: absolute;
}

.response{
  right: 10px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(10, 50px);
  column-gap: 25px;
  position: absolute;
}

.resp{
  width: 30px;
	height: 30px;
	background-color: rgb(145, 145, 145);
	margin-top: 7px;
  margin-right: 5px;
	float: right; 
	border-radius: 50%;
	border: solid 2px rgb(255, 255, 255);
}

.spot{
  width: 30px;
	height: 30px;
	background-color: rgb(145, 145, 145);
	margin-top: 7px;
  margin-right: 5px;
	float: right; 
	border-radius: 50%;
	border: solid 2px black;
}

.info{
  left :610px;
  position: relative;
}

.answerSection{
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(1, 50px);
  width: 200px;
  height: 50px;
  border: 5px solid black;
  position: relative;
}

.hiddenAnswer{
  width: 30px;
	height: 30px;
	background-color: black;
	margin-top: 7px;
  margin-right: 5px;
	float: right; 
	border-radius: 50%;
	border: solid 2px black;
}

#results{
  color: black;
  margin-top: 10px;
  font-size: 30px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 610px;
  position: relative;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid hsl(295, 77%, 23%);
}

.button1:hover {
  background-color: hsl(295, 77%, 23%);
  color: white;
}